.ListItemRestaurant{
    width: 1000px;
    padding: 24px;
    margin: 0 auto;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 400px;

}
.ListItemRestaurant:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.ListItemRestaurant a{
    position: relative;
    color: black;
    z-index: 10;
}
.ListItemRestaurant .item{
    height: 100%;
    display: flex;
    gap: 34px;
}
.ListItemRestaurant .item .left{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    width: 40%;
}

.ListItemRestaurant .item .left .images{
    position: absolute;
    display: flex;
    /* align-self: center; */
    row-gap: 20px;
    margin: auto 0;
    width: 100%;
    height: 300px;
    opacity: 0;
    &.active{
        opacity: 1;
        transition: opacity 0.1s ease-in-out;
    }
}

.ListItemRestaurant .item .left .images .btnPrev{
    position: absolute;
    top: 45%;
    left: 0;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    z-index: 100;
}
.ListItemRestaurant .item .left .images .btnPrev img{
    width: 100%;
    height: auto;
    opacity: 50%;
}
.ListItemRestaurant .item .left .images .btnPrev img:hover{
    opacity: 1;
}
.ListItemRestaurant .item .left .images img{
    border-radius: 24px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.ListItemRestaurant .item .left .images .btnNext{
    position: absolute;
    top: 45%;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    z-index: 10;
}
.ListItemRestaurant .item .left .images .btnNext img{
    width: 100%;
    height: auto;
    opacity: 50%;
}
.ListItemRestaurant .item .left .images .btnNext img:hover{
    opacity: 1;
}
.ListItemRestaurant .item .left .images .heart{
    position: absolute;
    top: 8px;
    right: -6px;
    width: 50px;
    height: 30px;
}
.ListItemRestaurant .item .left .images .heart img{
    width: 60%;
    height: auto;
}

.ListItemRestaurant .item .right{
    display: flex;
    width: 60%;
}
.ListItemRestaurant .item .right .info{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.ListItemRestaurant .item .right .info .stars{
    margin-top: -85px;
    margin-bottom: 22px;
    color: #ffd900;
}
.ListItemRestaurant .item .right .info .stars span{
    margin-left: 10px;
    color: black;
    font-weight: 500;
}
.ListItemRestaurant .item .right .info .nameAndLocation{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.ListItemRestaurant .item .right .info .nameAndLocation .restaurantName{
    font-weight: 700;
    color: black;
    font-size: 20px;
    line-height: 1.25;

}
.ListItemRestaurant .item .right .info .nameAndLocation .restaurantLocation{
    display: flex;
    align-items: center;
    margin-left: 14px;
    font-weight: 500;
}
.ListItemRestaurant .item .right .info .nameAndLocation .restaurantLocation .ping{
    width: 24px;
    height: 24px;

}
.ListItemRestaurant .item .right .info .nameAndLocation .restaurantLocation .ping img{
    width: 100%;
    height: auto;
}
.ListItemRestaurant .item .right .info .restaurantReview{
    padding-right: 24px;
}


.ListItemRestaurant .item .right .userAndDate{
    position: relative;
}

.ListItemRestaurant .item .right .userAndDate .user{
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 140px;
    text-align: center;
    /* background-color: bisque; */
}
.ListItemRestaurant .item .right .userAndDate .user .profile{
    width: 40px;
    height: 40px;
}
.ListItemRestaurant .item .right .userAndDate .user .profile img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.ListItemRestaurant .item .right .userAndDate .user .nickname{
    margin-left: 10px;
    font-weight: 500;
}
.ListItemRestaurant .item .right .userAndDate .date{
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 80px;
    text-align: center;
    /* background-color: bisque; */
}