@charset "utf-8";

*{
    max-width: 1920px;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
    overflow-x: hidden;
    overflow-y: auto;
}

ol, ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
img, input, button{
    vertical-align: top;
}
input, button, textarea{
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}