#RestaurantRegion{
    position: relative;
    padding: 12px 24px;
    margin: 0 auto;
}
#RestaurantRegion .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
#RestaurantRegion .top .area{
    font-size: 24px;
    font-weight: 700;
    color: black;
}

#RestaurantRegion .review{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#RestaurantRegion .review button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #54822b;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
#RestaurantRegion .review button:hover{
    background-color: #3b5c1f;
}
#RestaurantRegion .review button a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}