#restaurantDetail{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
#restaurantDetail .restaurantName{
    font-size: 40px;
}
#restaurantDetail .title{
    display: flex;
    justify-content: space-between;
}
#restaurantDetail .title .left div{
    display: flex;
    gap: 20px;
}
#restaurantDetail .title .left .star{
    color: #ffd900;
}
#restaurantDetail .title .right{
    display: flex;
    align-items: center;
}
#restaurantDetail .title .right .location{
    display: flex;
}
#restaurantDetail .title .right .location img{
    width: 40px;
    height: 40px;
}
#restaurantDetail .title .right .favorite{
    border: none;
    background-color: #fff;
}
#restaurantDetail .title .right .favorite img{
    width: 38px;
    height: 38px;
}

#restaurantDetail .photo ul{
    display: flex;
    list-style: none;
}
#restaurantDetail .photo .mainPhoto img{
    width: 700px;
    height: 600px;
    object-fit: cover;
}
#restaurantDetail .photo .subPhoto{
    margin: 0;
}
#restaurantDetail .photo .subPhoto img{
    width: 600px;
    height: 300px;
    object-fit: cover;
}

#restaurantDetail .review .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#restaurantDetail .review .writer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#restaurantDetail .review .user{
    display: flex;
    gap: 20px;
    align-items: center;
}