#RoomList .top{
    display: flex;
    gap: 20px;
    align-items: top;
}
#RoomList .top .roomOpt{
    margin-top: 20px; 
    height: 20px;
}
#RoomList .top .priceRange{
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 250px;
}
#RoomList .top .priceRange .priceRangeFilter{
    width: 100%;
    height: auto;
}
#RoomList .top .priceRange .rangeResult{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#RoomList .top .priceRange .rangeResult input{
    width: 100px;
    height: 20px;
}
#RoomList .top .priceRange .rangeResult button{
    height: 20px;
}
/* #RoomList .top .priceRange .rangeResult input:first-child::after{
    content: '';
    display: block;
    border: 1px solid;

} */